<li>
  <%code = population[pop_code]%>
  <b class="<%== code %>"><%= pop_titles[pop_code] %></b>
  <%
    population_criteria = measure.population_criteria(code)
    if (population_criteria.preconditions)
      conjunction = conjunction_translator[population_criteria.preconditions[0].conjunction_code]
      negation = population_criteria.preconditions[0].negation
      parent_id = population_criteria.preconditions[0].id
  %>  
      <%== render partial: 'measures/logic_tree/preconditions', locals: {measure: measure, conjunction: conjunction, preconditions: population_criteria.preconditions[0].preconditions, parent_id: parent_id, negation: negation}%>
  <% else %>
    none
  <% end %>
  <br/>
</li>
