<div>
  <div id="ipp">
    IPP
    {{template "measure_criteria/preconditions" dataCriteria=dataCriteria population=populationCriteria.IPP}}
  </div>
  <div id="denom">
    DENOM
    {{template "measure_criteria/preconditions" dataCriteria=dataCriteria population=populationCriteria.DENOM}}
  </div>
   <div id="denex">
    DENEX
    {{template "measure_criteria/preconditions" dataCriteria=dataCriteria population=populationCriteria.DENEX}}
  </div>
  <div id="numer">
    NUMER
    {{template "measure_criteria/preconditions" dataCriteria=dataCriteria population=populationCriteria.NUMER}}
  </div>
</div>



