<div>
  <div id="ipp">
    IPP
    {{>measureCriteria/_preconditions IPP.preconditions}}
  </div>
  <div id="denom">
    DENOM
    {{>measureCriteria/_preconditions DENOM.preconditions}}
  </div>
   <div id="denex">
    DENEX
    {{>measureCriteria/_preconditions DENEX.preconditions}}
  </div>
  <div id="numer">
    NUMER
    {{>measureCriteria/_preconditions NUMER.preconditions}}
  </div>
</div>

